.appContainer {
    display: flex;
    height: 100vh;
    overflow-x: hidden;
    position: relative;
  }
  
  .menuButton {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    z-index: 3;
    position: absolute;
    top: 10px;
    left: 10px;
    transition: left 0.3s ease-in-out;
  }
  
  .menuContainer {
    display: flex;
    flex-direction: column;
    margin: 10px;
    z-index: 2;
  }
  
  .menuBar {
    width: 30px;
    height: 3px;
    background-color: #e31c1c;
    margin: 6px 0;
    transition: 0.3s ease-in-out;
  }
  
  .menuContainer.active .menuBar1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  
  .menuContainer.active .menuBar2 {
    opacity: 0;
  }
  
  .menuContainer.active .menuBar3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  
  .contentContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    z-index: 1;
  }
  
  .content {
    padding: 20px;
    transition: margin-left 0.3s ease-in-out;
    flex-grow: 1;
    text-align: center;
    height: 100%;
  }
  
  .contentShift {
    margin-left: 200px;
  }
  
  .menuLinks {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    padding: 10px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    z-index: 2;
  }
  
  .menuLinks.active {
    opacity: 1;
    transform: translateX(0);
  }
  
  .menuLinks a {
    text-decoration: none;
    color: #000000;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .menuLinks a:hover {
    color: rgb(202, 43, 43);
  }
  
  .profileSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 80%;
  }
  
  .profileImage {
    width: 150px;
    height: 150px;
    background-color: rgb(202, 43, 43);
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .profileInfo {
    max-width: 400px;
  }  

.profileSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .profileImage {
    width: 150px;
    height: 150px;
    background-color: rgb(202, 43, 43);
    border-radius: 50%;
    margin-right: 20px;
  }
  
  .profileInfo {
    max-width: 400px;
  }

.footerContainer {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  text-align: center;
  color: rgb(197, 37, 37);
  margin-top: auto; /* Mantém o rodapé no final da página */
}

.footerContainer div {
  flex-grow: 1;
  padding: 0 10px; /* Adiciona algum espaçamento entre os elementos */
}

.content {
  padding: 20px;
  text-align: center;
  flex-grow: 1;
  border-radius: 10px; /* Borda arredondada */
}

.loginTitle {
  color: rgb(202, 43, 43); /* Texto vermelho */
}

.formInput {
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  border: 1px solid #ff3333; /* Borda vermelha */
  border-radius: 5px; /* Borda arredondada */
}

.formButton {
  background-color: #ff3333; /* Fundo vermelho */
  color: black; /* Texto na cor da tonalidade principal de vermelho */
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.formButton:hover {
  background-color: rgb(202, 43, 43); /* Tonalidade mais clara de vermelho quando hover */
}

.signupText {
  color: rgb(202, 43, 43); /* Texto vermelho */
  margin-top: 10px;
}

.signupLink {
  color: black; /* Link na cor preta */
  font-weight: bold;
  text-decoration: underline;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Preenche a altura mínima da tela */
}




.menuLinks a {
  text-decoration: none;  /* Remova esta linha para remover a decoração de texto */
  color: #000000;
  margin-bottom: 10px;
  font-size: 18px;
}

.menuLinks a:hover {
  color: rgb(202, 43, 43);
}
